<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up | Antitoxic Forum</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["Inter", "sans-serif"],
            },
          },
        },
      };
    </script>
  </head>
  <body class="flex flex-col items-center">
    <header class="w-full px-6 py-4">
      <h1 class="text-3xl font-semibold">Antitoxic Forum</h1>
    </header>
    
    <form
      class="w-full max-w-xs"
      method="POST"
      action="{{ url_for('sign_up') }}"
    >
      {{ form.csrf_token }}
      <div class="w-full flex flex-col space-y-2 my-4">
        <label class="w-full text-sm text-neutral-500"
          >{{ form.name.label }}</label
        >
        <div>
          {{ form.name(class="border rounded-lg px-3 py-2 w-full focus:outline focus:outline-purple-500 focus:outline-offset-1") }}
        </div>
        {% if form.name.errors %}
        <ul class="text-red-500">
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="w-full flex flex-col space-y-2 my-4">
        <label class="w-full text-sm text-neutral-500"
          >{{ form.email.label }}</label
        >
        <div>
          {{ form.email(class="border rounded-lg px-3 py-2 w-full focus:outline focus:outline-purple-500 focus:outline-offset-1") }}
        </div>
        {% if form.email.errors %}
        <ul class="text-red-500">
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="w-full flex flex-col space-y-2 my-4">
        <label class="w-full text-sm text-neutral-500"
          >{{ form.password.label }}</label
        >
        <div>
          {{ form.password(class="border rounded-lg px-3 py-2 w-full focus:outline focus:outline-purple-500 focus:outline-offset-1") }}
        </div>
        {% if form.password.errors %}
        <ul class="text-red-500">
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="w-full flex flex-col space-y-2 my-4">
        <label class="w-full text-sm text-neutral-500"
          >{{ form.confirm.label }}</label
        >
        <div>
          {{ form.confirm(class="border rounded-lg px-3 py-2 w-full focus:outline focus:outline-purple-500 focus:outline-offset-1") }}
        </div>
        {% if form.confirm.errors %}
        <ul class="text-red-500">
          {% for error in form.confirm.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <input
        class="my-4 w-full bg-purple-600 text-white px-4 py-2 rounded-lg hover:bg-purple-700 cursor-pointer"
        type="submit"
        value="Sign up"
      />
    </form>
  </body>
</html>
